# Initially ignore everything
*

# Include this file, obviously
!.gitignore

# Include dotfiles in root
!.bashrc
!.bash_profile
!.profile
!.vimrc
!.xinitrc
!.xbindkeysrc.scm
!.Xresources

# Include .config folder
!.config/
.config/*

# .config/ dotfiles
!.config/dunst/
!.config/dunst/*

!.config/fish/
.config/fish/*
!.config/fish/config.fish
!.config/fish/fishd.Envy360
!.config/fish/functions/

!.config/i3/
!.config/i3/*

!.config/htop/
!.config/htop/*

!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf


